$title: #394b50;
$text: #7b7b7b;

$button: #ffbb42;

$about-us__button: #e7ad48;

$price-text: #75888d;
$card-title: #818b95;
$card-price: #ffbb42;
$card-text: #b5bbc1;
$card-text-active: #c2e1ff;
$line: #e2e9f0;
$active-line: #8eb8e2;
$price__card-border: #ccd5df;

$client-position: #99a9ae;
$client-name: #f6772c;

$bg-gold: #ffc155;
$bg-blue: #709dca;
$image-bg: #475459;
$price-bg: #e7edf3;

$placeholder: #a9a9a9;
$input-icon: #6e6e6e;
$input-border: #cbcbcb;

$slider-control: #dedfe0;
$slider-control-active: #1ca8dd;

$icon: #709dca;
$services-activ-icon: #f6772c;

$map-border: #e3e7ec;

$nav-text: #868686;

$address-text: #aeb7ba;
$address-active-link: #ffbb42;

$white: #ffffff;