@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-Bold.eot');
    src: url('subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Lato-Bold.woff2') format('woff2'),
        url('subset-Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

