@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-Regular.eot');
    src: url('subset-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-OpenSans-Regular.woff2') format('woff2'),
        url('subset-OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

